.all-students{
  background-color: beige;
}
.all-compuses{
  border: 2px solid red;
}

#navbar{
  height: 120px;
  display: flex;
  background-color: aqua;
}
.campus_student_link{
  flex: 2;
  margin: 10px;
  display: flex;
}
#campuses{
  flex: 1;
  height: 25px;
  width: 100px;
}
#students{
  flex: 1;
}
#homelink{
  flex: 1;
  margin: 10px;
}
.addButton{
  height: 30px;
  margin: 10px;
  border-radius: 0.4em;
  background-color:aquamarine;
}
.students-container{
  border: 2px red solid;
  min-width: 220px;
  min-height: 260px;
  float: left;
  margin: 30px 30px;
  padding: 10px 10px;
  
}
.students-list{
  display: flex;
}
.images{
  border: 2px blue solid;
  height: 180px;
}

.student-info p {
  font-size: 16px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}

.updateCampus{
  text-align: left;
}
.home-container{
  margin-top: 20%;
}